


/*main {
	width: 800px;
	position: relative;
	left: 30%;
	line-height: 1;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}
*/

* {
	box-sizing: border-box;
}

body {
	line-height: 1;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

main .main_body{
	text-align: center;
	display:flex;
	flex-direction: column;
	justify-content: center;
}

main .main_body article{
	margin:auto;
	background: orange;
	text-align: left;
	width:900px;
	display:flex;
	flex-direction: row;
	justify-content:center;
}

main .main_body article .intro_text{
	display:flex;
	flex-direction: column;
	justify-content:center;
}

main .main_body article .intro_text h1{
	padding:5px;
	font-size: 24px;
}

main .main_body article .intro_text p{
	padding:5px;
	font-size: 20px;
}

main .all_cards{
	margin: auto;
	display: flex;
	flex-wrap: wrap;
  flex-direction: row;
  background: black;
	width: 780px;
}

main .all_cards img{
	margin: auto;
	margin-bottom: 0;
}

main .all_cards .single_card h2{
	 margin: auto;
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: black;

}

main .all_cards .single_card a{
		text-decoration: none;
}
