nav * {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

.sidebar_nav {
  background-color: #123768;
  height: 100%;
  width: 200px;
}

.sidebar_nav a {
  display: block;
  color: white;
  padding: 10px 0 10px 20px;
  border-bottom: 1px dotted white;
}

.sidebar_nav a:hover {
  background-color: #84A1C0;
}

.sidebar_ul ul {
  display: none;
}

.sidebar_ul li:hover ul {
  display: block;
  background-color: #9B181C;
}
